footer {
    background-color: var(--purple);
    color: var(--white);
    padding: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px;
    width: 100%;
    gap: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}