@import url("reset.css");
@import url("header.css");
@import url("products.css");


/* Global Styles */
:root {
    --purple: #5300C8;
    --blue: #03318C;
    --white: #f7f5f5;
    --black: #0a0a0a;
}


