.productsSpace {
    display: flex;
    justify-content: center;
    align-items: self-start;
    gap: 64px;
    height: 80vh;
}
/* Form product */
.addProduct {
    width: 35%;
    display: flex;
    padding: 32px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 32px;  
}
.addProduct h2 {
    font-weight: 700;
}
.addProduct-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}
.addProduct-form input {
    width: 80%;
    padding: 8px;
    border: 3px solid var(--blue);
    border-radius: 30px;
    font-size: 1rem;
    font-style: italic;
    color: var(--blue);
}
.form-actions {
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.form-actions input {
    width: 40%;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}
.form-actions input[type="submit"] {
    background-color: var(--blue);
    color: var(--white);
}
.form-actions input[type="reset"] {
    background-color: var(--white);
    color: var(--blue);
    border: 2px solid var(--blue);
}

/* Product */

.products {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 32px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 32px;
    color : var(--black);
}
.products h2 {
    font-weight: 700;
}
.products__list {
    display:flex;
    justify-content: center;
    align-self: center;
    padding: 16px;
    gap: 16px;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 60vh;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Add style for scroll bar products_list */
.products__list::-webkit-scrollbar {
    width: 10px;
    color: var(--white);
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    padding: 8px;
    margin: 16px 0;
    border: 3px solid var(--blue);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.product_img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    border: 2px solid var(--blue);
}
.product_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.product_footer img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .productsSpace {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 32px;
        height: auto;
    }
    .products {
        height: auto;
        width: 100%;
    }
    .addProduct {
        height: auto;
        width: 80%;
    }
    .addProduct-form input {
        width: 100%;
    }
    .form-actions {
        width: 100%;
    }
    .form-actions input {
        width: 48%;
    }
    .products__list {
        width: 100%;
    }
}